<div class="menu">
    <div (click)="expanded = !expanded" role="button" class="d-flex align-items-center">
        <h4 class="mb-0">Admin Menu</h4>
        <i class="ms-auto px-3" [ngClass]="expanded ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
    </div>

    <div *ngIf="expanded" class="mt-2">
        <div class="mb-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a [routerLink]="['/reported']" class="text-decoration-none d-block">
                        <i class="fas fa-plus-circle me-2"></i> Reported
                    </a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/your-questions']" [queryParams]="{ scenario: 'owner' }" class="text-decoration-none d-block">
                        <i class="fas fa-list-alt me-2"></i> Your questions
                    </a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/messages']" class="text-decoration-none d-block" [ngClass]="{'text-danger': unreadMessageCount > 0}">
                        <i class="fas fa-envelope me-2"></i> Messages <span *ngIf="unreadMessageCount > 0">({{ unreadMessageCount }})</span>
                    </a>
                </li>
            </ul>
    </div>
</div>
