<h4 #scrollableContent class="my-3 h2 text-center">Reported by users</h4>
<div *ngFor="let answer of answersPage.content" class="mt-3 mb-4">
  <div class="card bg-dark text-white">
    <div class="card-header h5 py-3 d-flex justify-content-between bg-dark">
      <div>
        {{ answer.createdUser }} (<span [ngClass]="getRatingClass(answer)"
          >{{ answer.userRating }}%</span
        >):
      </div>
      <div>
        <a [routerLink]="['/question', answer.questionId, 'details']" class="bg-primary d-block rounded border-primary text-white" style="padding: 0.4rem;">
            <i class="fa-solid fa-location-arrow" style="padding-right: 0.1rem;"></i>
            Jump to question
        </a>
      </div>
    </div>
    <div class="mb-3 card-body rounded description">
      <div>{{ answer.content }}</div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div class="footer-text"><span class="text-info">First reported: </span> <span>{{ formattedDate(answer.firstReported) }}</span></div>
      <div class="footer-text"><span class="text-info">Last reported: </span> <span>{{ formattedDate(answer.lastReported) }}</span></div>
      <div class="footer-text">
        <span class="text-info">Reported: </span> 
        <span>
          {{ answer.reportedNumber }} {{ answer.reportedNumber < 2 ? 'time' : 'times' }}
        </span>
      </div>
      <div class="footer-text d-flex align-items-center"></div>
    </div>
  </div>
</div>

<ng-container *ngIf="answersPage.totalPages > 1">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="answersPage.totalPages"
    [maxDisplayedPages]="5"
    (pageChanged)="onPageChanged($event)"
  ></app-pagination>
</ng-container>